* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  color: #545454;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  background: #32bee0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f9b0f, #dbcfcf);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f9b0f, #d3d0d0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
h1{
  text-align:center ;
  color: rgb(54, 40, 28);
  font-size: 200%;
  padding-top: 10%;
 
}
h2{
  text-align:center ;
  color: rgba(247, 14, 14, 0.87);
  font-size: 200%;
  padding-top: 10%;
 font-size: 400%;
 
}

.container {
  height: 100%;
  
  background: orange;
  padding-top: 0px;
  align-self: center;
  
  margin: 10px;
  /* padding: 50px; */
  border-radius: 65px;
}

.title {
  text-align: center;
}

.title span {
  color: red;
}

.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 20px;
  justify-content: space-around;
  height: 30px;
  font-weight: 300;
}

#upercase{
  text-transform: uppercase;
}

.status span {
  color: #F2EBD3;
}

.reset {
  cursor: pointer;
}

.reset:hover {
  color: #F2EBD3;
}

.game-grid {
  background: red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 40px;
}

.game-cell {
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 130px;
  width: 130px;
}

.x,
.o {
  cursor: default;
}

.x::after {
  content: '×';
  font-size: 100px;
}

.o::after {
  content: '○';
  color: #F2EBD3;
  font-size: 100px;
}

.won::after {
  color: green;
}

@media only screen and (max-width: 1024px) {
  .game-grid {
    margin-top: 25px;
    grid-gap: 10px;
  }

  .game-cell {
    height: 150px;
    width: 150px;
  }

  .x::after {
    font-size: 100px;
  }

  .o::after {
    font-size: 105px;
  }
}

@media only screen and (max-width: 540px) {
  .container {
    margin: 25px;
    padding: 25px;
  }

  .game-cell {
    height: 100px;
    width: 100px;
  }

  .x::after {
    font-size: 100px;
  }

  .o::after {
    font-size: 105px;
  }
}


